<%- include partials/head.ejs %>
<div class="container">
    <ul>
        <li><a href="/admin/hackers">List all hackers</a></li>
        <li><a href="/admin/hackers/applications">List all hacker applications.</a></li>
        <li><a href="/admin/hackers/json">Export Hackers (JSON)</a></li>
        <li><a href="/admin/hackers/applications/json">Export Hacker Applications (JSON)</a></li>
        <li><a href="/admin/hackers/applications/json?submitted=yes">Export Submitted Hacker Applications (JSON)</a></li>
    </ul>
</div>
<%- include partials/foot.ejs %>